#header {
	border: chartreuse solid;
	width: 100%;
	height: 60px;
	display: flex;
}
#infos {
	display: flex;
	width: 80%;
}
#logo {
	justify-content: center;
	border: red solid;
	height: 100%;
	width: 30%;
}
